[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=HuuhkajaComponents
Exec=/usr/bin/single-instance /opt/HuuhkajaComponents/bin/HuuhkajaComponents
Icon=/usr/share/icons/hicolor/80x80/apps/HuuhkajaComponents80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
